<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pra comprar</title>
    <link rel="stylesheet" href="/css/mainstyle.css">
  </head>
  <body>
    <header>
      <div id="headeroptions">
        <a href="/addItemForm">Adcionar na Lista de Compra </a></li>
      </div>
    </header>