<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pra comprar</title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="addItemForm">Adcionar Item</a></li>
      </ul>
    </header>